<h1>About The Dungeon</h1>

<p>Your hosts, David & Lisa Lloyd look forward to welcoming you to The Town House Motor Inn & Restaurant.
Since 2010, David and Lisa have provided warm and friendly service to patrons of The Townhouse. Their long association with Goondiwindi (where David was born and bred, and Lisa has lived for over 13 years) has  earned them a reputation as two friendly local faces actively involved in their community – be it through business, committee involvement or supporting local schools, events and charities.
Through their hard work and dedication to excellence, David and Lisa strive to operate their successful business in line with the The Town House’s mission statement:</p>

<q>To provide superior fine dining food, service and atmosphere such that our guests have a memorable and satisfying experience every time.</q>

<%= image_tag 'http://www.thetownhouse.net.au/wp-content/uploads/2013/05/D5C2967.jpg' %>