<div class="container">
	<div class="row">
		<% @rooms.each do |r| %>
			<div class="col-lg-4">
				<h1 class="text-center"><%= r.title %></h1>
				<h3 class="text-center"><%= r.description %></h3>
				<p class="text-center">$<%= r.price_per_night %> AUD</p><br>
				<%= image_tag r.url, class: 'img-fluid' %>
			</div>
		<% end %>
	</div>
</div>